@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css';

.footer {
	--background-color: #152233;
	--vetical-lines-color: var(--bs-secondary);
	background-color: var(--background-color);
	padding: 0;
}

.footer-grid-container {
	display: flex;
	flex-direction: column;
}

.grid-item {
	background-color:var(--background-color);
	padding: 20px 20px;
}

.about-company {
	background-color: var(--bs-danger);
}

.about-company-text {
	display: -webkit-box;
	-webkit-line-clamp: 5;
			line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;

}


@media (min-width: 992px) {
	.about-company {
		/*grid-column-start: 1;
		grid-column-end: 3;*/
		grid-area: aboutCompany;
	}

	.products {
		grid-area: products;
	}

	.services {
		grid-area: services;
	}

	.contact {
		grid-area: contact;
	}

	.footer-grid-container {
		display: grid;
		grid-template-areas: 
			'aboutCompany aboutCompany'
			'products services'
			'contact contact';
		gap: 1px;
		background-color: var(--vetical-lines-color);
	}

	.grid-item {
		padding: 20px 30px;
	}

	.footer {
		padding: 20px 0;
	}

	.about-company-text {
		display: block;
	}
}

@media (min-width: 1200px) {
	.footer {
		padding: 0;
	}
	.footer-grid-container {
		grid-template-areas: 
			'aboutCompany aboutCompany aboutCompany aboutCompany'
			'products products services contact';
		gap: 1px;
	}
}

.icon::before {
	display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.whatsapp::before {
	content: '\f232';
	font: var(--fa-font-brands);
}

.phone::before {
	content: '\f095';
	font: var(--fa-font-solid);
}

.email::before {
	content: '\f0e0';
	font: var(--fa-font-solid);
}

.address::before {
	content: '\f3c5';
	font: var(--fa-font-solid);
}