#owlCarouselWelcomeSlide .item {
    margin: 0;
    padding: 0;
    height: 470px;
    width: 100%;
}

.skeleton-screen-effect {
    animation-name: opacity;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: contrast(0%);
}

.carousel-link {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    width:100%;
    height:100%;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #eee;
    transition: filter .5s, background-size .2s ease-in-out;
}

.carousel-link:before {
    content: '';

    position:absolute;
    z-index:2;
    top:0;
    bottom:0;

    width:100%;
    height:100%;
    border-radius: .25rem;
    background-image: linear-gradient(rgba(253,126,20, 1), rgba(220, 53, 69, 1));
    opacity:0;

    transition: all .2s;
}

.carousel-link .carousel-content-container {
    --margin: 30px;

    position:absolute;
    z-index: 3;
    bottom:0;
    left: 0;
    margin: var(--margin);
    width: calc(100% (2 * var(--margin)));
}

.carousel-content-container .header {
    line-height: 2.5rem;
    margin-bottom: 20px;
    color: var(--bs-white);
}

@keyframes opacity {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}

.carousel-link .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
}

.carousel-link:hover {
    background-size: 120% 120%;
}

.carousel-link:hover:before {
    opacity: .85;
}